### 지도학습

In [1]:
#### 분류 - 다항분류 (3개이상)

In [2]:
import pymongo as mg
import pandas as pd
client = mg.MongoClient(host='mongodb://localhost:27017')

In [3]:
database = client['db_NHIS']

In [4]:
collection = database['Join Collection NSC2_BND_M20']

In [5]:
cursor = collection.find({}) #고혈압환자 제거

In [6]:
list_BM = list(cursor)
list_BM[:3]

[{'_id': ObjectId('64e6cbf07574768bae8e9ed1'),
  'RN_INDI': 294364,
  'BTH_YYYY': '1921LE',
  'DTH_YYYYMM': 200707,
  'COD1': 'T08-T14',
  'COD2': 'W00-W19',
  'RN_KEY': 2002080298703,
  'RN_INST': 26452,
  'MDCARE_STRT_DT': 20020830,
  'FORM_CD': 3,
  'MCARE_SUBJ_CD': 14,
  'SICK_SYM1': 'L028',
  'OFIJ_TYPE': 0,
  'OPRTN_YN': 0,
  'MDCARE_DD_CNT': 1,
  'VSHSP_DD_CNT': 1,
  'TOT_PRSC_DD_CNT': 3,
  'MCARE_RSLT_TYPE': 5,
  'EDC_ADD_RT': 0.15,
  'ED_RC_TOT_AMT': 10590,
  'EDC_SBA': 3000,
  'EDC_INSUR_BRDN_AMT': 7590,
  'STD_YYYY': 2002},
 {'_id': ObjectId('64e6cbf07574768bae8e9ed2'),
  'RN_INDI': 294364,
  'BTH_YYYY': '1921LE',
  'DTH_YYYYMM': 200707,
  'COD1': 'T08-T14',
  'COD2': 'W00-W19',
  'RN_KEY': 2002090466395,
  'RN_INST': 63715,
  'MDCARE_STRT_DT': 20020910,
  'FORM_CD': 3,
  'MCARE_SUBJ_CD': 13,
  'SICK_SYM1': 'J030',
  'OPRTN_YN': 0,
  'MDCARE_DD_CNT': 1,
  'VSHSP_DD_CNT': 1,
  'TOT_PRSC_DD_CNT': 2,
  'MCARE_RSLT_TYPE': 5,
  'EDC_ADD_RT': 0.15,
  'ED_RC_TOT_AMT': 16520,
  'EDC_SBA': 4950,
  'EDC_INSUR_BRDN_AMT': 11570,
  'STD_YYYY': 2002},
 {'_id': ObjectId('64e6cbf07574768bae8e9ed3'),
  'RN_INDI': 294364,
  'BTH_YYYY': '1921LE',
  'DTH_YYYYMM': 200707,
  'COD1': 'T08-T14',
  'COD2': 'W00-W19',
  'RN_KEY': 2002091053122,
  'RN_INST': 63715,
  'MDCARE_STRT_DT': 20020909,
  'FORM_CD': 3,
  'MCARE_SUBJ_CD': 13,
  'SICK_SYM1': 'J030',
  'OPRTN_YN': 0,
  'MDCARE_DD_CNT': 3,
  'VSHSP_DD_CNT': 3,
  'TOT_PRSC_DD_CNT': 3,
  'MCARE_RSLT_TYPE': 5,
  'EDC_ADD_RT': 0.15,
  'ED_RC_TOT_AMT': 27620,
  'EDC_SBA': 9000,
  'EDC_INSUR_BRDN_AMT': 18620,
  'STD_YYYY': 2002}]

In [7]:
df_BM = pd.DataFrame(list_BM)
df_BM

,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2,RN_KEY,RN_INST,MDCARE_STRT_DT,FORM_CD,...,OPRTN_YN,MDCARE_DD_CNT,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY
0,64e6cbf07574768bae8e9ed1,294364,1921LE,200707.0,T08-T14,W00-W19,2002080298703,26452,20020830,3,...,0,1,1,3,5.0,0.15,10590,3000,7590,2002
1,64e6cbf07574768bae8e9ed2,294364,1921LE,200707.0,T08-T14,W00-W19,2002090466395,63715,20020910,3,...,0,1,1,2,5.0,0.15,16520,4950,11570,2002
2,64e6cbf07574768bae8e9ed3,294364,1921LE,200707.0,T08-T14,W00-W19,2002091053122,63715,20020909,3,...,0,3,3,3,5.0,0.15,27620,9000,18620,2002
3,64e6cbf07574768bae8e9ed4,294364,1921LE,200707.0,T08-T14,W00-W19,2002020488631,23506,20020208,3,...,0,1,1,3,5.0,0.15,12920,3000,9920,2002
4,64e6cbf07574768bae8e9ed5,294364,1921LE,200707.0,T08-T14,W00-W19,2002060822342,23506,20020628,3,...,0,1,1,0,5.0,0.15,14230,3000,11230,2002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137158,64e6cc127574768bae90b6ab,3000758,2015,NaN,NaN,NaN,2015050998151,79884,20150506,3,...,0,2,1,0,1.0,0.15,11280,2300,8980,2015
137159,64e6cc127574768bae90b6ac,3000758,2015,NaN,NaN,NaN,2015031024807,79884,20150307,3,...,0,2,1,0,1.0,0.15,19640,3700,15940,2015
137160,64e6cc127574768bae90b6ad,3000758,2015,NaN,NaN,NaN,2015050363901,79884,20150526,3,...,0,2,1,0,1.0,0.15,13470,2800,10670,2015
137161,64e6cc127574768bae90b6ae,3000758,2015,NaN,NaN,NaN,2015040129477,79884,20150425,3,...,0,2,1,0,1.0,0.15,13530,2600,10930,2015
137162,64e6cc127574768bae90b6af,3000758,2015,NaN,NaN,NaN,2015092341857,122565,20150927,3,...,0,3,1,0,1.0,0.25,21730,6800,14930,2015

In [8]:
df_BM_HP=df_BM[['EDC_SBA','BTH_YYYY', 'DTH_YYYYMM', 'MCARE_SUBJ_CD', 'OPRTN_YN', 'TOT_PRSC_DD_CNT', 'MCARE_RSLT_TYPE', 'STD_YYYY' ]]
df_BM_HP

,EDC_SBA,BTH_YYYY,DTH_YYYYMM,MCARE_SUBJ_CD,OPRTN_YN,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,STD_YYYY
0,3000,1921LE,200707.0,14,0,3,5.0,2002
1,4950,1921LE,200707.0,13,0,2,5.0,2002
2,9000,1921LE,200707.0,13,0,3,5.0,2002
3,3000,1921LE,200707.0,1,0,3,5.0,2002
4,3000,1921LE,200707.0,5,0,0,5.0,2002
...,...,...,...,...,...,...,...,...
137158,2300,2015,NaN,1,0,0,1.0,2015
137159,3700,2015,NaN,1,0,0,1.0,2015
137160,2800,2015,NaN,1,0,0,1.0,2015
137161,2600,2015,NaN,1,0,0,1.0,2015
137162,6800,2015,NaN,11,0,0,1.0,2015

In [9]:
df_BM_HP.to_csv('../Classifications/Join Collection NSC2_BND_M20.csv')